#!/bin/bash
#set -o nounset

APPDIR=/eos/home-r/rforti/CMSSW_14_1_0_pre2/src #TO BE SET TO THE OUTPUT OF "echo $CMSSW_BASE" AND "/src" NEEDS TO BE ADDED
JOBDIR=$APPDIR/DQM/TrackingMonitorSource/test/trackingDataMC/MC/ZeroBias
cd $APPDIR
eval $(scramv1 runtime -sh)
cd $JOBDIR
ulimit -c 0
export X509_USER_PROXY=/afs/cern.ch/user/r/rforti/private/x509up_u157244 #FOLDER WITH THE FILE PRODUCED BY "voms-proxy-init -voms cms -valid 192:00"
voms-proxy-info -all
cmsRun step1_cfg_INDEX.py
exit $?
