#!/bin/bash
#set -o nounset

APPDIR=/eos/home-r/rforti/CMSSW_14_1_0_pre2/src
JOBDIR=$APPDIR/DQM/TrackingMonitorSource/test/trackingDataMC/MC/ZEE
cd $APPDIR
eval $(scramv1 runtime -sh)
cd $JOBDIR
ulimit -c 0
export X509_USER_PROXY=/afs/cern.ch/user/r/rforti/private/x509up_u157244
voms-proxy-info -all
cmsRun step1_cfg_INDEX.py
exit $?
